<html ng-app="garden">
<head>
	<title>Garden Image Browser</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="/view/index.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/view/index.css"/>
</head>
<body ng-controller="gardenController">

	<h1>Garden Image Browser</h1>
        <div class="left bordered focusimage">
        	<h3>Focus Image</h3>
	        <hr/>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="randomizeImage()">Randomize Image</button>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="showSimilarImages()">Show Similar Images</button>
	        <hr/>
		<img src="{{data.current.image}}"></img>
		<h3>{{data.current.name}}<h3>
		<p>User label '{{data.current.text}}'</p>
	</div>

        <div class="left bordered">
	        <h3>Predict Labels</h3>
	        <hr/>
	        <div ng-repeat="item in data.predictedlabels">
		<button type="button" class="btn btn-primary btn-sm" > {{item.label}} {{item.prob}}% </button>
	        </div>
	</div>

        <div class="left thumbs bordered">
	        <h3>Similar Images</h3>
	        <hr/>
	        <div><span ng-repeat="info in data.similarImages">
	          	<img src="{{info.image}}" ng-click="focusOnThisImage(info)"></img>
	        </span></div>
        </div>
</body>
</html>